@model IEnumerable<WebApplication1.DTOs.ClientReponseDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table" table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @* 1. Nova Coluna no Cabeçalho *@
            <th>
                Perfis de Acesso
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                @* 2. Nova Célula com a lógica dos Badges *@
                <td>
                    @if (item.Profiles != null && item.Profiles.Any())
                    {
                        @foreach (var perfil in item.Profiles)
                        {
                            @* Lógica simples para mudar a cor se for Admin *@
                            var corBadge = perfil == "Admin" ? "bg-danger" : "bg-info text-dark";

                            <span class="badge @corBadge me-1">
                                @perfil
                            </span>
                        }
                    }
                    else
                    {
                        <span class="text-muted small">Sem perfil</span>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-outline-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>

                    @* 3. Proteção visual: Só mostra o botão Delete se o usuário logado for Admin *@
                    @* Implementar no futuro *@
                    @* @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                    } *@
                </td>
            </tr>
        }
    </tbody>
</table>
